# $Id$

host relay*
  User relay
  ForwardAgent no
  GatewayPorts no
  ProxyCommand none
  StrictHostKeyChecking yes

#host gateway.us-east-1a
#  Hostname xyz
#  HostKeyAlias gateway-us-east-1a

host admin.us-east-1a relay.us-east-1
  Hostname x.y.z
  User openvpnas

host gateway.* admin.*
  ProxyCommand none
  IdentityFile ~/.aws/master.pem
  # 'yes' is more secure but requires pre-populating
  StrictHostKeyChecking ask
  IdentitiesOnly yes

host admin.*
  # OpenVPN admin UI
  LocalForward 1943 0.0.0.0:1943

#---------------

#host i-056eb70829da584fe apps
#  Hostname 172.16.0.xx
#  HostKeyAlias i-056eb70829da584fe

#match OriginalHost *.us-east-1a
#  Include ~/.aws/lab1/us-east-1/a.conf

match User !ec2-user,!ubuntu,!openvpnas,*
  IdentityFile ~/.ssh/id_rsa

#match OriginalHost "?,??,???"
# NOTICE '%n' is not supported, documentation not-withstanding
# consult cloudformation map for region
#  Hostname 172.16.0.%h

#---------------

host *
  user ec2-user
  IdentityFile ~/.aws/lab.pem
  # since AWS hosts auto-scale/relaunch 'no' is permissible.
  # recommend use of HostKeyAlias though
  StrictHostKeyChecking no
#  UserKnownHostsFile ~/.aws/lab1/us-east-1/known_hosts
  ServerAliveInterval 90
  ServerAliveCountMax 3
#TODO rewrite '%h' to key off VPC subnet applicable to AZ
  ProxyCommand ssh-wrapper.sh ssh relay${AWS_REGION:+.$AWS_REGION} -W %h:%p
