#ControlMaster auto
#ControlPath ~/.ssh/sock/alab-%h_%p-%r

host admin.us-east-1a relay.us-east-1*
  Hostname A.B.C.D

host admin.*
  # OpenVPN Access Server
  User openvpnas
  LocalForward 1943 0.0.0.0:1943

host gateway.* admin.*
  ProxyCommand none
  IdentityFile ~/<.ssh|.aws/AWS_PROFILE>/master.pem
  IdentitiesOnly yes
  # 'yes' is more secure but requires pre-populating
  StrictHostKeyChecking ask

host !relay* *.bastion
  ProxyCommand ssh-wrapper.sh -W %h:%p relay${REGION:+.$REGION}.via-bastion

host relay*.via-bastion
  # OpenVPN Access Server and client
  LocalForward 2943 0.0.0.0:1943
  LocalForward 2443 0.0.0.0:443

host *.via-bastion
  # reset both variables
  ProxyCommand env SSH_KNOWN_HOSTS= SSH_CONFIG= PROFILE=bastion ssh-wrapper.sh -W %h:%p relay${REGION:+.$REGION}

host relay relay.*
  User relay
  IdentityFile ~/<.ssh|.aws/AWS_PROFILE>/personal.pem
  IdentitiesOnly yes
  StrictHostKeyChecking yes

host *.direct
  ProxyCommand none

#---------------

#host i-056eb708 apps apps.*
#  Hostname 172.16.x.y
#  HostKeyAlias apps

#match OriginalHost *.$REGION
#  Include ~/.aws/<AWS_PROFILE>/<PROFILE>/${AWS_REGION}/a.conf

#match OriginalHost "?,??,???"
# NOTICE '%n' is not supported, documentation not-withstanding
# consult cloudformation map for region
#  Hostname 172.16.0.%h

#---------------

match User !ec2-user,!ubuntu,!centos,!openvpnas,*
  IdentityFile ~/.ssh/id_rsa

host *
  user ec2-user
  IdentityFile ~/<.ssh|.aws/AWS_PROFILE>/lab.pem
  ForwardAgent no
  GatewayPorts no
  # since AWS hosts auto-scale/relaunch 'no' is permissible.
  # recommend use of HostKeyAlias though
  StrictHostKeyChecking no
  ServerAliveInterval 90
  ServerAliveCountMax 3
#TODO rewrite '%h' to key off VPC subnet applicable to AZ
  ProxyCommand ssh-wrapper.sh -W %h:%p relay${REGION:+.$REGION}.direct
