#ControlMaster auto
#ControlPath ~/.ssh/sock/$PROFILE-%h_%p-%r

host *.direct
  ProxyCommand none

host admin.*
  # OpenVPN Access Server
  User openvpnas
  LocalForward 1943 0.0.0.0:1943

host gateway.* admin.*
  ProxyCommand none
  IdentityFile ~/<.ssh|.aws/AWS_PROFILE>/master.pem

host gateway.* admin.* relay relay.*
  IdentitiesOnly yes
  StrictHostKeyChecking yes
  CheckHostIP yes


host !relay* *.bastion
  ProxyCommand ssh-wrapper.sh -W %h:%p relay${REGION:+.$REGION}.via-bastion

host relay*.via-bastion
  # OpenVPN Access Server and client
  LocalForward 2943 0.0.0.0:1943
  LocalForward 2443 0.0.0.0:443

host *.via-bastion
  # reset both variables
  ProxyCommand env SSH_KNOWN_HOSTS= SSH_CONFIG= PROFILE=bastion ssh-wrapper.sh -W %h:%p relay${REGION:+.$REGION}

host relay relay.*
  User relay
#  IdentityFile ~/<.ssh|.aws/AWS_PROFILE>/personal.pem

#---------------

host admin.us-east-1a relay.us-east-1*
  Hostname A.B.C.D
  HostKeyAlias admin.us-east-1a

#host i-056eb70x apps apps.*
#  Hostname 172.16.x.y
#  HostKeyAlias i-056eb70x

#match OriginalHost *.$REGION
#  Include ~/.aws/<AWS_PROFILE>/<PROFILE>/${AWS_REGION}/a.conf

#match OriginalHost "?,??,???"
# NOTE '%n' is not supported, the docs not-withstanding
# consult cloudformation map for region
#  Hostname 172.16.0.%h

#---------------

match User ec2-user,ubuntu,centos,openvpnas
#  IdentityFile ~/<.ssh|.aws/AWS_PROFILE>/<key>.pem
  IdentitiesOnly yes

#match User !ec2-user,!ubuntu,!centos,!openvpnas,*

host github.com
  KexAlgorithms +diffie-hellman-group-exchange-sha1


host *
  IdentityFile ~/.ssh/id_rsa
  ForwardAgent no
  GatewayPorts no
  HashKnownHosts yes

  # since AWS hosts auto-scale/relaunch, 'no' is permissible
  # though use of HostKeyAlias is strongly suggested
  StrictHostKeyChecking ask

#  Include crypto.conf
#  Include nist.conf

  ServerAliveInterval 90
  ServerAliveCountMax 3

#TODO rewrite '%h' to key off VPC subnet applicable to AZ
  ProxyCommand ssh-wrapper.sh -W %h:%p relay${REGION:+.$REGION}.direct

