# To override the alias instruction use a '\' before it
# eg. \rm will call the real /bin/rm not an alias.

# Interactive operation...
alias rm='\rm -i'
alias mv='\mv -iv'
alias cp='\cp -v'

alias df='\df -h'
alias du='\du -hD'

alias grep='\grep --color=auto'

alias ffs='eval sudo !!'    #alt: 'sudo $(fc -ln -1)'
alias free='\free -m'

function edit() {
  local -a cmd
  local title=${1:-$EDITOR}
  : ${title:=$FUNCNAME}

  if [ -n "$WT_SESSION" ]; then
    cmd=( wt new-tab '--title' "${title##*/}" '--startingDirectory' ./ '--' )
    # make sure $EDITOR is on Windows PATH or use 'cygpath -m ${EDITOR}'
    local editor=`convert_path -m "$EDITOR"`
  #TODO  PowerShell
  elif [[ ${TERM:-X} =~ ^screen ]]; then
    cmd=( screen '-t' "${title##*/}" )
  fi
  ${DEBUG:+ runv} "${cmd[@]}" "${editor:-$EDITOR}" "$@"
}

# caution: only Unix(tm)
alias ps &>/dev/null || alias ps='\ps ${PS_ARGS:- -o uid,pid,ppid,stime,etime,cmd}'

# Some shortcuts for different directory listings
alias ls='\ls -hAF --color=tty'
alias ll='ls -lh'
alias ld='ls -d'
alias lt='ls -t'
alias lS='ls -S'

alias cdu='cd ..'
alias cdl='cd ${1:-.}; shift; ls $@'
alias curl='${DEBUG:+ runv} \curl --connect-timeout 7 --fail --silent ${VERBOSE:+ --verbose --progress-bar}'

alias sftp='\sftp -R 256 -B 262144'
alias ntpdate='sudo /usr/sbin/ntpd -gq'

# --filter=':- .gitignore'      mind the space
alias rsync="\rsync --cvs-exclude --exclude='.git*'"

alias check-url='\curl -L -s -o /dev/null -w "Connect: %{time_connect} TTFB: %{time_starttransfer} Total time: %{time_total} ReturnCode: %{http_code} Download Size: %{size_download} Speed: %{speed_download} \n"'

# increasing order of preference
is_exec curl && \
  alias myip='curl -sk https://checkip.amazonaws.com/'
# alt: https://diagnostic.opendns.com/myip', https://ifconfig.me/ip, http://ipv4.icanhazip.com/

is_exec nslookup && \
  alias myip='nslookup myip.opendns.com resolver1.opendns.com.'

is_exec dig && \
  alias myip='dig +short myip.opendns.com @resolver1.opendns.com.'

return 0

# vim: expandtab:ts=4:sw=4
