# To override the alias instruction use a '\' before it
# eg. \rm will call the real /bin/rm not an alias.

# Interactive operation...
alias rm='\rm -i'
alias mv='\mv -iv'
alias cp='\cp -v'

alias df='\df -h'
alias du='\du -hD'

alias grep='\grep --color=auto'

alias ffs='eval sudo !!'    #alt: 'sudo $(fc -ln -1)'
alias free='\free -m'

# when WT_SESSION make sure $EDITOR is on Windows PATH or use 'cygwin -m ${EDITOR}'
alias edit='eval $( if [[ ${TERM:-X} =~ ^screen ]]; then echo screen; elif [ -n "$WT_SESSION" ]; then echo wt new-tab --title "$EDITOR"  --startingDirectory ./ --; fi; echo ${EDITOR##*/} )'

# caution: only Unix(tm)
alias ps &>/dev/null || alias ps='\ps ${PS_ARGS:- -o uid,pid,ppid,stime,etime,cmd}'

# Some shortcuts for different directory listings
alias ls='\ls -hAF --color=tty'
alias ll='ls -lh'
alias ld='ls -d'
alias lt='ls -t'
alias lS='ls -S'

alias cdu='cd ..'
alias cdl='cd ${1:-.}; shift; ls $@'

alias sftp='\sftp -R 256 -B 262144'
alias screen='\screen ${HOSTNAME:+-t ${HOSTNAME%%.*}}'
alias ntpdate='sudo /usr/sbin/ntpd -gq'

# --filter=':- .gitignore'      mind the space
alias rsync="\rsync --cvs-exclude --exclude='.git*'"

alias check-url='\curl -L -s -o /dev/null -w "Connect: %{time_connect} TTFB: %{time_starttransfer} Total time: %{time_total} ReturnCode: %{http_code} Download Size: %{size_download} Speed: %{speed_download} \n"'

# increasing order of preference
is_exec curl && \
  alias myip='curl -sk https://diagnostic.opendns.com/myip' 

is_exec nslookup && \
  alias myip='nslookup myip.opendns.com resolver1.opendns.com.'

is_exec dig && \
  alias myip='dig +short myip.opendns.com @resolver1.opendns.com.'

return 0

# vim: expandtab:ts=4:sw=4
