.aws
.berkshelf/
.bundle/
.chef
.gem/
.gitconfig
.gnupg/
.packer.d/
.rnd
.ssh
.ssh/
.sudo_as_admin_successful
.terraform.d/
.vim/
.bash_history
.dropbox*
.Xauthority
*.txt
*.ini
*.kdb*
*.local
.lesshst
.minttyrc
*.rdp
.viminfo
*~
bin/
Bookmarks/
Employment/
Work_Projects/
Forks-by-Matt/
Public/
Downloads
Documents
Dropbox
Dropbox/
Desktop/
Library/
workspace/
go/
.DS_Store
.Trash/
.bash_sessions/
.skipbuddy
Applications/
Movies/
Music/
Pictures/
