[include]
	path = .gitidentity
	path = .gitaliases
[init]
        defaultBranch = master
[alias]

[core]
	autocrlf = false
	symlinks = true
[pull]
	rebase = false
	pruneTags = true
[color]
        ui = auto
[diff]
	wsErrorHighlight = new
	compactionHeuristic = true
[status]

[rebase]
        autoSquash = true
[fetch]
	pruneTags = true
