.atlassian*
.atom
.aws
.bash_sessions
.berkshelf
.bundle
.cache
.chef
.config
.dbus*
.gem
.gitconfig
.gnupg
.go
.ICEauthority
.lesshst
.local
.minttyrc
.packer.d
.rnd
.serverauth.*
.skipbuddy
.ssh
.sudo_as_admin_successful
.terraform.d/
.terraformrc
.vim
.viminfo
.wget-hsts
.Xauthority
.xsession-errors
*.txt
*.ini
*.kdb*
*.local
*.rdp
*.lnk
*_history
*log
*~

bin
go
workspace
Dropbox
logs
OpenVPN

AppData
Application\ Data
Applications
Bookmarks
Contacts
Cookies
Desktop
Downloads
Documents
Favorites
Library
Links
Local\ Settings
Movies
Music
My\ Documents
NetHood
ntuser.*
NTUSER.DAT*
Pictures
PrintHood
Public
Recent
Searches
SendTo
Start\ Menu
Templates
Tracing

IntelGraphicsProfiles/
MicrosoftEdgeBackups/

.DS_Store
.Trash/
