[include]
	path = .gitidentity
	path = .gitaliases
[init]
        defaultBranch = master
[checkout]
        defaultRemote=origin
[core]
	autocrlf = input
	eol = lf
	safecrlf = warn
	symlinks = true
	filemode = true
[pull]
	rebase = false
	pruneTags = true
[color]
        ui = auto
[diff]
	wsErrorHighlight = new
	compactionHeuristic = true
[status]

[rebase]
        autoSquash = true
[fetch]
	pruneTags = true
	prune = true
[format]
	pretty = format:%C(auto)%h %d%C(reset) %s%n%C(green)%ar%C(reset) by %C(blue)%an%Creset
[tag]
	sort = -creatordate
[submodule]
	recurse = true
	ignore = all
