.atlassian*
.atom
.aws
.bash_sessions
.berkshelf
.bundle
.cache
.chef
.dbvis/
.dbus*
.docker
.gem
.gnupg
.go
go
.grip/
.ICEauthority
.lesshst
.local
.minttyrc
.motd_shown
.m2/
.npm/
.packer.d
.pex/
RCS/
.rnd
.screen_exchange
.serverauth.*
.skipbuddy
.ssh
.sudo_as_admin_successful
.terraform.d/
.terraformrc
.vscode/
.viminfo
.vim/.netrwhist
.wget-hsts
.Xauthority*
.xfce4-session.*
.xsession-errors
*.bak
*.orig
*.kdb*
*.local
*.lnk
*.rdp
*.swp
*_history
*log
*.stackdump
*.core
*,v
*~
mercurial.ini

bin
workspace
Dropbox
logs/
OpenVPN/
.WINHOME
.CYGHOME
.WPHOME
.USERPROFILE


# Windows-specific
3D\ Objects
Amazon\ Drive
AppData
Application\ Data
Applications
Bookmarks
Camera\ Recordings
Contacts
Cookies
Desktop
Downloads
Documents
Favorites
Library
Links
Local\ Settings
Movies
Music
My\ Documents
NetHood
ntuser.*
NTUSER.DAT*
OneDrive*
Pictures
PrintHood
Public
Recent
Saved Games
Searches
SendTo
Start\ Menu
Templates
Tools
Tracing
Videos

IntelGraphicsProfiles
MicrosoftEdgeBackups

# MacOS-specific
.DS_Store/
.Trash/
