[include]
	path = ~/.gitidentity
	path = ~/.gitaliases
	path = ~/.gitconfig.local
[init]
        defaultBranch = master
[checkout]
        defaultRemote=origin
[core]
	autocrlf = input
	eol = lf
	safecrlf = warn
	symlinks = true
	filemode = true
[pull]
	rebase = false
	pruneTags = true
[color]
        ui = auto
[diff]
	wsErrorHighlight = new
	compactionHeuristic = true
[status]

[rebase]
        autoSquash = true
[fetch]
	pruneTags = true
	prune = true
[format]
	pretty = format:%C(auto)%h %d%C(reset) %s%n%C(green)%ar%C(reset) by %C(blue)%an%Creset
[tag]
	sort = -creatordate
[submodule]
	recurse = true
	ignore = all

#ref: https://github.com/git-ecosystem/git-credential-manager/releases
#[credential]
#	helper = <path to 'manager'>
#	interactive = auto
#	modalPrompt = true

[credential "https://dev.azure.com"]
        useHttpPath = true

[credential "https://github.com"]
        provider = github
