Xterm*utf8:             2
Xterm*eightBitInput:    true
Xterm*saveLines:        512
Xterm*scrollKey:        true
Xterm*scrollTtyOutput:  false
Xterm*scrollBar:        true
Xterm*rightScrollBar:   true
Xterm*jumpScroll:       true
Xterm*multiScroll:      true
Xterm*toolBar:          false
Xterm*reverseVideo:     on
Xterm*faceSize:         12
#Xterm*faceName:	BitStream Vera Sans Mono
! default is 80x25
Xterm.vt100.geometry:   132x50

