XTerm*utf8:         2
XTerm*EightBitInput: true
XTerm*SaveLines:    512
XTerm*ScrollKey:    true
XTerm*ScrollTtyOutput: false
XTerm*ScrollBar:    true
XTerm*RightScrollBar: true
XTerm*JumpScroll:   true
XTerm*MultiScroll:  true
XTerm*ToolBar:      false
XTerm*ReverseVideo: on
XTerm*FaceSize:     10
XTerm*FaceName:     BitStream Vera Sans Mono
! default is 80x25
XTerm*Geometry:     80x26

